
     <div>
         
            <h1 id="titleofhmepage">
                <%= title %>
                
           </h1>
   
           <div id="feed-post">
               
               <% if(locals.user){ %>
                   <form action="/posts/create" id="new-post-form" method="POST"  >
                       
   
                       
                       <textarea name="content" id="" style="border-radius: 1px; border-style: solid;  border-color : blue; " cols="30" rows="3" placeholder="Type here...." required></textarea>
                       
                       <input type="submit" value="Post" style="background-color : EB9397; " >
   
                   </form>
               <% } %>
               <div id="posts-list-container">
                   <ul>
                       <% for(post of posts){ %>
   
                           <%- include('_post') -%>
   
                       <%} %>
   
   
                   </ul>
               </div>
   
   
            </div>
         
       
        
            <div id="user-friends">
                
                <h4>Followers</h4>
                <ul>
                    <% for(u of all_users){%>
                        <li>
                            <!-- //the list will contain name of all users as link -->
                            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                        </li>
                    <% } %>

                </ul>
                
               
            </div>
        
        


     </div>
     <!-- importing this script for creating the comments -->
    <script src="/js/home_post_comments.js" ></script>
     <script src="/js/home_posts.js"></script>
     